@media (min-width: 576px) {
  .main {
    row-gap: 80px;
    padding-bottom: 80px;
  }
  .main__navigation {
    justify-self: end;
  }
}

@media (min-width: 1200px) {
  .main {
    row-gap: 120px;
    padding-bottom: 120px;
  }
  .main__navigation {
    display: none;
    justify-self: start;
  }
}