@media (min-width: 576px) {
	.ourValues .container {
		row-gap: 30px;
	}
	.ourValues__header {
		justify-self: start;
	}
	.ourValues__header h1 {
		font-size: 40px;
		line-height: 54px;
	}
	.ourValues__content {
		grid-template-columns: 1fr 1fr;
		column-gap: 10px;
	}
}

@media (min-width: 1200px) {
	.ourValues .container {
		width: 1199px;
		height: 355px;
		row-gap: 48px;
	}
	.ourValues__header {
		justify-self: start;
	}
	.ourValues__header p {
		display: block;
		font-size: 14px;
		line-height: 19px;
		letter-spacing: 4px;
	}
	.ourValues__header h1 {
		font-size: 40px;
		line-height: 54px;
	}
	.ourValues__content {
		grid-template-columns: 1fr 1fr;
		column-gap: 143px;
		row-gap: 40px;
		justify-self: start;
	}
	.ourValues__content p {
		font-size: 18px;
		line-height: 25px;
	}
}