@media (min-width: 576px) {
  .ourTechnologies .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    row-gap: 30px;
    justify-items: start;
  }
  .ourTechnologies__header {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .ourTechnologies__header p {
    display: none;
  }
  .ourTechnologies__header h1 {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -1px;
  }
  .ourTechnologies__androidList {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content;
    align-items: center;
    justify-items: start;
  }
  .ourTechnologies__androidList h2 {
    font-size: 22px;
    line-height: 30px;
    padding-bottom: 0px;
  }
  .ourTechnologies__androidList ul {
    grid-template-columns:  repeat(4, max-content);
    grid-template-rows: min-content;
    row-gap: 0;
    column-gap: 24px;
  }
  .ourTechnologies__androidList li {
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 0px;
    padding-left: 15px;
    display: inline-block;
  }
  .ourTechnologies__buisnessProceses {
    grid-auto-rows: min-content;
    border-top: 1px solid #636363;
    padding-top: 48px;
  }
  .ourTechnologies__buisnessProceses__header {}
  .ourTechnologies__buisnessProceses__header h2 {
    font-size: 22px;
    line-height: 30px;
  }
  .ourTechnologies__buisnessProceses__header p {
    font-size: 14px;
    line-height: 18px;
  }
  .ourTechnologies__buisnessProceses__processesList {
    grid-template-columns: repeat(3, 192px);
    grid-template-rows: repeat(2, 236px);
    gap: 40px;
  }
  .ourTechnologies__buisnessProceses__processesList div:nth-child(7), .ourTechnologies__buisnessProceses__processesList div:nth-child(8) {
    display: none;
  }
  .ourTechnologies__buisnessProceses__processesList p {
    font-size: 22px;
    line-height: 32px;
  }
}

@media (min-width: 1200px) {
  .ourTechnologies .container {
    display: grid;
    grid-template-columns: 269px 929px;
    grid-template-rows: min-content 615px;
    row-gap: 48px;
    justify-items: start;
  }
  .ourTechnologies__header {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .ourTechnologies__header p {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 4px;
    display: block;
  }
  .ourTechnologies__header h1 {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -1px;
  }
  .ourTechnologies__androidList {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    row-gap: 24px;
    justify-items: start;
    align-items: start;
  }
  .ourTechnologies__androidList h2 {
    font-size: 22px;
    line-height: 30px;
  }
  .ourTechnologies__androidList ul {
    grid-template-columns:max-content;
    grid-auto-rows: min-content;
    row-gap: 24px;
    column-gap: 0;
  }
  .ourTechnologies__androidList li {
    font-size: 22px;
    line-height: 30px;
    padding-bottom: 24px;
    padding-left: 24px;
    display: block;
  }
  .ourTechnologies__buisnessProceses {
    grid-template-columns: min-content;
    grid-template-rows: min-content min-content;
    row-gap: 40px;
    border-top: none;
    border-left: 1px solid #636363;
    padding-top: 0;
    padding-left: 40px;
  }
  .ourTechnologies__buisnessProceses__header {
    justify-items: start;
  }
  .ourTechnologies__buisnessProceses__header h2 {
    font-size: 22px;
    line-height: 30px;
  }
  .ourTechnologies__buisnessProceses__header p {
    font-size: 14px;
    line-height: 18px;
  }
  .ourTechnologies__buisnessProceses__processesList {
    grid-template-columns: repeat(4, 192px);
    grid-template-rows: repeat(2, 236px);
    gap: 40px;
  }
  .ourTechnologies__buisnessProceses__processesList div:nth-child(7), .ourTechnologies__buisnessProceses__processesList div:nth-child(8) {
    display: grid;
  }
  .ourTechnologies__buisnessProceses__processesList p {
    font-size: 22px;
    line-height: 32px;
  }
}